


<!-- 
</div>

  <p id="myGoss"> </p>
 -->

<p id="notice"><%= notice %></p>

<div class="divViewShowTitle" class id="title">

      <h1>YOUR GIPHY GOSS</h1>

</div>

<div class="divViewShowOutputTitle">

<p>
  <%= @story.title %>
</p>

<p class="tag">
  <%= @story.content %>
</p>

</div>

<p>
  <% @story.images.each do |g| %>
  
  <img src="<%= g.url %>">

  <%end%>

</p>


<%= link_to 'Change your Giphy story', root_url %> 

