
<p id="notice"><%= notice %></p>

<div class="divViewShowTitle" class id="title">

      <h1>YOUR GIPHY GOSS</h1>

</div>

<h2 class="divViewShowOutputTitle">

<p>
  <%= @story.title %>
</p>

<span class="tag">
  <%= @story.content %>
</span>

</h2>

<p>
  <% @story.images.each do |g| %>
  
  <img src="<%= g.url %>">

  <%end%>

</p>


<%= link_to 'Change your Giphy Gossip', root_url %> 

