<!DOCTYPE html>
<html>
<head>
  <title>GiphyGossip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<!-- start nav bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
      </button>
     
          <a class="navbar-brand" href="/">GiphyGossip</a>

    </div>

      <ul class="nav navbar-nav navbar-right">

        <a href data-toggle="modal" data-target="#login-modal">LOGIN</a>
        
  </div><!-- /.container-fluid -->
</nav>
<!-- end of nav bar -->

<!-- Modal -->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header login_modal_header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h2 class="modal-title" id="myModalLabel">Login to Your Account</h2>
        </div>

<div class="modal-body login-modal">
          <p>Giphy Gossip is an awesome application designed by the best students in WDI-12</p>
          <br/>

 <div id='social-icons-conatainer'>

      <div class="modal-social-icons">
          <a href='#' class="btn btn-default facebook"> <i class="fa fa-facebook modal-icons"></i> Sign In with Facebook </a>
      </div> 
  </div>            
</div>
          <div class="modal-footer login_modal_footer"></div>
    </div>
  </div>
</div>


 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
