<!DOCTYPE html>
<html>
<head>
  <title>GiphyGossip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if current_user.present? %>
    <script>
      app.USER_ID = <%= current_user.id %>;
    </script>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>

<!-- start nav bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
      </button>
     
          <a class="navbar-brand" href="/">GiphyGossip</a>

    </div>

      <ul class="nav navbar-nav navbar-right" class="hmenu">
      
      <% if current_user.present? %>
       
      <li>
        <%= link_to('My Goss', user_path(current_user.id)) %>        
      </li> 

      <% end %>

      <%= render 'devise/menu/login_items' %>
          <!--ul class="hmenu">
          </ul-->

</ul>
        
  </div><!-- /.container-fluid -->
</nav>
<!-- end of nav bar -->


        
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
